name: Ubuntu 24.04
on: workflow_dispatch
jobs:
  shell:
    runs-on: ubuntu-24.04
    steps:
      - name: Start tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
